// Your application styles go here
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,700,400|Roboto+Condensed:400,700);
/* ELEMENT STYLES */
body{
	background-color: #38A4DC;
	font-family: 'Roboto', sans-serif;
}

/* HEADER STYLES */

.header{
	.bar-header{
		background-color: #38A4DC;
	}

	img{
		width:25px;
		margin:2.5px;
	}


	.bar{
		background-color: #38A4DC;
	}

	.bar-positive{
		background-color: #38A4DC;
	}

 .title h1{
	font-size:2em;
	}
}

/* SPLASH SCREEN */

.splash{
	width:100%;
	height:200px;
	.splash-view {
		width:100%;
		height:100%;
		position: relative;
		margin:0;
		padding:0;
		background-color: #38A4DC;
	}

	.splash-view img{

		display:block;

		width:200px;
		margin:0 auto;
		padding-top:100px;
		background-color: #38A4DC;

	}

	.splash-view h1{
		color:#fff;
		text-align: center;
	}
}

/* MAP-VIEW SCREEN */
.angular-google-map-container { height: 300px; }

.map-view{
	position:relative;
	.map-view-add {
		position:absolute;
		top:170px;
		right:10px;
		z-index:100;
	}
	
	.well-list {
		.item-content {
			.list-content-tile {
				padding: 16px 60px;
			}
		}
	}
}


.map-view-add{
	.ion-nav-view {
		background-color: white !important;
	}
}


/* WISH-VIEW SCREEN */

.wish-view{
	position: relative;
}

.wish-map {
	z-index: 1;
	.angular-google-map-container { height: 200px; }
}

.wish-map img{
	height:200px;
}

.wish-image{
	width:100px;
	height:100px;
	background-color:#eee;
	border-radius:50%;
	margin:0 auto;
	margin-top:-50px;
	z-index: 1;
	position: relative
}
/*.navbar .pheets-logo {
margin: 0 auto;

padding: 0;
width: 80%;
float: left;
;
}*/

.wish-image img{

	width:200px;
	height:100px;
	border-radius:50%;


}

.wish-view h3{
	width:100%;
	height:30px;
	text-align: center;
	color:#4D4D4E;
	margin-top:5px;
}

.wish-view h2{
	width:100%;
	height:35px;
	text-align: center;
	margin-top:0px;
	color:#4D4D4E;
}

.wish-view span{
	display:block;
	width:100%;
	height:30px;

	text-align: center;

	font-size: 1.6em;
	font-weight: 400;

	color:#38A4DC;
	margin-top:5px;
}

.wish-view h5{
	
	width:100%;
	text-align: center;



	color:gray;

}

.well-details {
	padding-top: 20px;
}

.wish-actions{
	width:90%;
	height:60px;
	background-color:#fff;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: 2px solid #eee;
	padding-bottom: 14px;
	padding-top: 14px;
	display: inline-table;
}

.wish-actions span{
	display:block;
	float:left;
	width:50%;
	height:80%;
	padding-top: 15px;
	padding-bottom: 25px;
	&.left {
		border-right:2px solid #eee;
	}
	
}

.wish-actions h1{
	height:35px;
	text-align: center;
}

.wish-actions h5 {
	text-align: center;
}

/*.wish-actions i{
	display:block;
	float:left;
	width:1%;
	height:55px;
	background-color: #eee;
}*/

/* WISH-MAKE SCREEN */

.wish-make {
	width: 100%;
	min-height:50px;
	padding-top: 25px;
	img {
		display: block;
		width:100px;
		margin:0 auto;
	}
	h5 {
		margin-top:5px;
		margin-bottom:20px;
	}
	button {
	 display:block;
	 width:200px;
	 margin:0 auto;
	}
	a {
		text-decoration: none;
	}
}

/* WISH-DONATE SCREEN */

.wish-donate {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	label {
		border-top: none;
		border-left: none;
		border-right: none;
	}

	button{
		display:block;
		width:200px;
		margin:0 auto;
		margin-top:40px;
	}
	
	a{
		text-decoration:none;
	}
}

.wish-donate-half {
	display: block;
	float:left;
	width:40%;
	margin-right: 5%
}


/* WISH-MAKE-ACTION SCREEN */

.wish-make-action {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	label {
		border-top: none;
		border-left: none;
		border-right: none;
	}
	button {
		display:block;
		width:200px;
		margin:0 auto;
		margin-top:40px;
	}
}

.wish-make-action i{
	text-align: center;
	margin-left: 42%;
}

.wish-make-action label{
	float:left;
	width:100%;

	border-top: none;
	border-left: none;
	border-right: none;

}

.wish-make-action button{
	display:block;

	width:200px;
	margin:0 auto;
	margin-top:40px;

}


.wish-make-action textarea{


	height:100px;

}

.wish-button{

	width:100%;
	margin-top: 40px;

}

.wish-confirm{

	width:90%;
	min-height:160px;

	background-color:#eee;
	margin: 0 auto;


}

.wish-confirm-image img{
	width:100%;

	overflow: hidden;
}

.wish-content h5{
	width:100%;
}


/* WISH-FEED SCREEN */

.wish-feed{

	width:100%;
	height:200px;

	background-color:#eee;
}
