<ion-view title="Wish Point">
	<ion-scroll zooming="false" direction="y" style=" height: 700px">

		<div class="wish-view">
		    <div class="wish-map">
		    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
		          &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
		          &markers=color:red%7Clabel:C%7C40.718217,-73.998284" >
		     </div>
		    <div class="wish-image">
		    	 <img class="list-primary-tile__img" src="images/southbank.jpg">

		    </div>
		    <h3>South Bank Bridge</h3>
		    <span>YOU CONTRIBUTED $10.00</span>
		    <div class="wish-confirm">
		    	<div class="wish-confirm-image">
		    		<img src="images/southbank.jpg">
		    	</div>
			    <div class="wish-image">
			    	 <img class="list-primary-tile__img" src="images/profile.jpg">
				 <p>Hello World, Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World  Hello World, Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World  Hello World, Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World  
				 </p>
			    </div>
			    	<a href="#/wish">
			    		<button class="btn btn--m btn--blue btn--raised" lx-ripple>SEE OTHER WISHES</button>
			    	</a>
			    	<a href="#/share">
			    		<button class="btn btn--m btn--blue btn--raised" lx-ripple>WISH</button>
			    	</a>

		    </div>
		</div>
	</ion>
</ion-view>
