<ion-view title="Wish Point" ng-init="init()">
<ion-scroll zooming="false" direction="y" style="height: 700px">
	<div class="wish-view">
	    <div class="wish-map">
		    <!-- map begin -->
		    <ui-gmap-google-map  center="map.center" zoom="map.zoom" control="map.control" draggable="true">
			      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'">
			      </ui-gmap-markers>
			    </ui-gmap-google-map>
	    </div>
	    <div class="wish-image">
	    	 <img class="list-primary-tile__img" src="images/southbank.jpg">
	    </div>
	    <div class="well-details">
		    <h3 class="name">{{well.name}}</h3>
		    <h2>${{well.totalRaised | number:2}}</h2>
		</div>
	    <h5>Raised for</h5>
 		<div class="wish-make">
	    	<img src="images/concern.jpg">
	    	<h5>To unlock this Wish Point please make a donation</h5>
	    </div>
	    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<form id="checkout" method="post" action="/checkout">
		  <div id="dropin"></div>
		  <input type="submit" value="Pay $10">
		</form>
<!--
		<script>

			braintree.setup(
			  "MIIBCgKCAQEAwpN88KQ3BvlFkLl/8X/C+fazfAoPWFdHrPdLrOix7fr8EaWeYw8b7Pf48KEweQdxBa28eLYCR+Lp28q8OS9N1cDjkVwx22IJ2lP5wkqqUvIgyCytJMfr6XKOolaToZoQGxglB6aSLgG9WbdsfqhQeXg8FropQwJn15ix3wlrRpqa3ofLfspVU6Pt/qBuMn7+Kqu/QQurQrB+SXf0HVBUpvn4JB5THg/sT0Ix/GjcK5N2np0fiD5QLLCARV17TrwC8ykK9p5ve++hKTl9XDx9SsRfSC6lAPOpb7reEJghv5aOjbg3pprTuPiePHnbgtltxSEfE7yv2JoezoEnKvP2zwIDAQAB",
			  'dropin', {
			    container: 'dropin'
			  });
		
		</script>
-->
	</div>
</ion-scroll>
</ion-view>
