<ion-view title="Wish Point" ng-init="init()">
<ion-scroll zooming="false" direction="y" style="height: 700px">
	<div class="wish-view">
	    <div class="wish-map">
		    <!-- map begin -->
		    <ui-gmap-google-map  center="map.center" zoom="map.zoom" control="map.control" draggable="true">
			      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'">
			      </ui-gmap-markers>
			    </ui-gmap-google-map>
	    </div>
	    <div class="wish-image">
	    	 <img class="list-primary-tile__img" src="images/southbank.jpg">
	    </div>
	    <div class="well-details">
		    <h3 class="name">{{well.name}}</h3>
		    <h2>${{well.totalRaised | number:2}}</h2>
		</div>
	    <h5>Raised for</h5>
 		<div class="wish-make">
	    	<img src="images/concern.jpg">
	    	<h5>To unlock this Wish Point please make a $1 donation</h5>
	    </div>
		<iframe style="display:block; width:400px; height:180px; margin:0 auto;" src="http://www.wishpoint.org/server/classes/donate/form.html"></iframe>
		<div class="wish-button">
	    	<a style="text-decoration:none;" href="#/make-wish">
	    		<button style="display:block; text-decoration:none; width:200px; margin:0 auto;" class="btn btn--m btn--blue btn--raised" lx-ripple>WISH</button>
	    	</a>
	    </div>
	</div>

</ion-scroll>
</ion-view>
