<ion-view title="Feed"  ng-init="init()">
<ion-scroll zooming="true" direction="y" style="height: 700px" >

	<div class="wish-view">
	    <div class="wish-map">
		    <!-- map begin -->
		    <ui-gmap-google-map  center="map.center" zoom="map.zoom" control="map.control" draggable="true">
			      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'">
			      </ui-gmap-markers>
			    </ui-gmap-google-map>
	    </div>
	    <!-- map end -->
	    <div class="wish-image">
	    	 <img class="list-primary-tile__img" src="images/southbank.jpg">
	    </div>
	    <div class="well-details">
		    <h3 class="name">{{well.name}}</h3>
		    <h2>${{well.totalRaised | number:2}}</h2>
		    <h5>Raised</h5>
		    <div class="wish-actions">
		    	<span class="left">
		    		<h2>{{well.wishCount}}</h2>
		    		<h5>WISHES</h5>
		    	</span>
		    	<span>
		    		<h2>{{well.likeCount}}</h2>
		    		<h5>LIKES</h5>
		    	</span>
		    </div>	
		    <div class="wish-feed">
					<div class="grid">
					    <div class="grid__col12">
					    <div  ng-repeat="wish in feed"  class="card">
						  <div class="card__img card__img--top">
						     <img class="card__img--main" alt="{{wish.title}}" src="{{getImageUrl(wish)}}"/>
								<div class="wish-text">                
										<span class="fs-subhead caption display-block">{{wish.title}}</span>
					                <div class="paragraph caption">
					                    <p>
					         				{{wish.text}}
					                    </p>
					                </div>

				                </div>
				                <span class="fs-headline tc-white-1 display-block">
				                	{{wish.userName}}
				                </span>
						  </div>
						</div>

					    </div>

					</div>

		    </div>
	   </div>
	</div>
</ion-scroll>
</ion-view>
