<ion-view title="Wish Point" ng-init="init()">
<ion-scroll zooming="true" direction="y" style="height: 700px" >
	<div class="wish-view">
	    <div class="wish-map">
		    <!-- map begin -->
		    <ui-gmap-google-map  center="map.center" zoom="map.zoom" control="map.control" draggable="true">
			      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'">
			      </ui-gmap-markers>
			    </ui-gmap-google-map>
	    </div>
	    <div class="wish-image">
	    	 <img class="list-primary-tile__img" src="{{well.imageUrl}}">
	    </div>
	   <!-- well details -->
	    <div class="well-details">
		    <h3 class="name">{{well.name}}</h3>
		    <h2>${{well.totalRaised | number:2}}</h2>
		    <h5>Raised</h5>
	   </div>
	   <!-- well details -->

	   <!-- make wish form -->
	   <form name="wishForm" class="reg-form" novalidate ng-submit="makeWish(wishForm)" ng-controller="MakeWishCtrl">
	   	  <div class="wish-make">
	    	<div class="wish-make-action">
				<div class="list">
					<br />
				  <label class="item item-input item-floating-label" style="border-bottom:none;">
				    <i class="icon icon--l icon--blue icon--circled mdi ion-camera"></i>
				  </label>
				  <label class="item item-input item-floating-label">
					<textarea id="wishStory" name="wishStory" ng-model="wishStory" required placeholder="Make a wish or share a story..."></textarea>
				  </label>
				</div>
					
			</div>
			<div class="wish-button">
			<br />
			<br />
		    	<button type="submit" class="btn btn--m btn--blue btn--raised" lx-ripple>Make a Wish</button>
		    </div>  	
	    </div>
	   </form>
	</div>
</ion-scroll>
</ion-view>
