<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-view title="Dashboard">
<ion-scroll zooming="true" direction="y" style="height: 700px">
  <div class="map-view" ng-init="init()">
   <div class="no-padding" id="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="true" options="map.options" events="map.events">
      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'" fit="true" labelContent="'title'" labelClass="marker-labels" doRebuildAll="true" >
         
      </ui-gmap-markers>
    </ui-gmap-google-map> 
  </div>
  <button class="btn btn--xl btn--blue btn--fab map-view-add" lx-ripple><i class="icon ion-plus"></i></button>
  <div class="grid">
     
    <div class="grid__col12 well-list">
                <ion-list class="list">
          <ion-item ng-repeat="well in wells" class="list-row list-row--has-primary list-row--has-separator" href="#/well/{{well.id}}">

          <div class="list-primary-tile">
                <img class="list-primary-tile__img" src="/images/2-square.jpg">
          </div>

          <div class="list-content-tile list-content-tile--two-lines">
                <strong>{{well.name}}</strong>
                <p>1.2kms</p>
          </div>
            
          </ion-item>
        </ion-list>
      </div>
  </div>
  </div>
  </ion-scroll>
</ion-view>

