<ion-view title="Wish Point"  ng-init="init()">
<ion-scroll zooming="true" direction="y" style="height: 700px" >
	<div class="wish-view">
	    <!-- map begin -->
	    <div class="wish-map">
		    <ui-gmap-google-map  center="map.center" zoom="map.zoom" control="map.control" draggable="true">
			      <ui-gmap-markers models="map.markers" coords="'coords'" icon="'icon'">
			      </ui-gmap-markers>
			    </ui-gmap-google-map>
	    </div>
	    <!-- map end -->
	    <div class="wish-image">
	    	 <img class="list-primary-tile__img" src="images/southbank.jpg">
	    </div>
	    <div class="well-details">
		    <h3 class="name">{{well.name}}</h3>
		    <h2>${{well.totalRaised | number:2}}</h2>
		    <h5>Raised</h5>
		    <div class="wish-actions">
		    	<span class="left">
		    		<h2>{{well.wishCount}}</h2>
		    		<h5>WISHES</h5>
		    	</span>
		    	<span>
		    		<h2>{{well.likeCount}}</h2>
		    		<h5>LIKES</h5>
		    	</span>
		    </div>	
		    <div class="wish-make">
		    	<img src="images/concern.jpg">
		    	<h5>Donate to unlock this wishpoint and make a wish!</h5>
		    	<a ng-href="#/donate/{{well.id}}">
		    		<button class="btn btn--m btn--blue btn--raised" lx-ripple>MAKE A WISH</button>
		    	</a>
		    </div>
	   </div>
	</div>
</ion-scroll>
</ion-view>
